<!--
  Generated template for the ChartitemlistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Chart Item</ion-title>
  </ion-navbar>
  <ion-searchbar [(ngModel)]="tag" (keyup)="keyHasBeenPressed($event)" placeholder="Search for tags"></ion-searchbar>
</ion-header>


<ion-content padding>

  <ion-spinner name="bubbles" *ngIf="results==0"></ion-spinner>
   <ion-label fixed *ngIf="results==1">No items found</ion-label>
    <ion-list *ngIf="results!=0 && results!=1">
      <button ion-item icon-left *ngFor="let result of results" (click)="itemSelected(result)" text-wrap>
        <ion-avatar item-left>
          <img  *ngIf="result.chartType=='PIECHART'" src="assets/img/dough.png">
          <img  *ngIf="result.chartType=='LINECHART'" src="assets/img/line.png">
        </ion-avatar>
      {{ result.desc }}
      <p>{{ result.tags}}</p>
      <!--ion-thumbnail  item-start>
        <img  *ngIf="result.chartType=='PIECHART'" src="assets/img/line.png">
        <img  *ngIf="result.chartType=='LINECHART'" src="assets/img/dought.png">
      </ion-thumbnail-->

      </button>
    </ion-list>

</ion-content>
